<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/> edgility.consignment@btx.com
  </startup>-->
  <appSettings>
    <add key="ENABLESSL" value="true" />
    <add key="HOSTNAME" value="smtp.gmail.com" />
    <add key="PORTNUMBER" value="587" />
    <add key="TIMEOUT" value="20000" />
    <add key="FROMADDRESS" value="sharif.azharul@gmail.com" />
    <add key="FROMPASSCODE" value="itygjewrdkunhtmu" />

    <!-- <add key="ENABLESSL" value="true" /> -->
    <!-- <add key="HOSTNAME" value="owa.btx.com" /> -->
    <!-- <add key="PORTNUMBER" value="25" /> -->
    <!-- <add key="TIMEOUT" value="20000" /> -->
    <!-- <add key="FROMADDRESS" value="edgility.consignment@btx.com" /> -->
    <!-- <add key="FROMPASSCODE" value="Not4u2c" /> -->
    
  </appSettings>
</configuration>