<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!--<add key="COLUMNSTOSKIP" value="CreateDate,CreateUser,UpdateDate,UpdateUser,IsDeleted" />-->
    <add key="COLUMNSTOSKIP" value="status,created_date,created_by,modified_date,modified_by" />
    <add key="DELETECOLUMN" value="DomainStatus" />
    <add key="DELETESUPPORTINGCOLUMNS" value="UpdateDate,UpdateUser" />
    <add key="INSERTSUPPORTINGCOLUMNS" value="CreateDate,CreateUser" />
    <add key="UPDATESUPPORTINGCOLUMNS" value="UpdateDate,UpdateUser" />
    <add key="ROOTFOLDERNAME" value="C:\UPASS\AutoGenFiles\" />
    <add key="SPFOLDERNAME" value="Scripts" />
    <add key="IMODEL" value="ModelInterface" />
    <add key="MODEL" value="Model" />
    <add key="BLL" value="BLL" />
    
    <add key="REPOSITORY" value="Repository" />
     <add key="REPOSITORYINTERFACE" value="RepositoryInterface" />
    
    <add key="IBLL" value="IBLL" />
    <add key="DATACONTEXT" value="DataContext" />
    <add key ="ISMODELINTERFACEREQUIRED" value="false"/>
    <add key ="ISBLLINTERFACEREQUIRED" value="false"/>
    <add key ="SkippingTableName" value="2"/>
    <add key ="IsTableHasUnderline" value="true"/>
    <add key="NAMESPACEFIRSTPART" value="StoreAndInventory" />
    <add key="MODULENAME" value="" />
    <add key="DBConnectionString" value="PrescriptionDB" />
    
  <add key="ParentChildTables" value="T_DoctorProfile:T_DoctorPosition,T_DoctorDepartment;T_Division:T_District" />

  </appSettings>
</configuration>
