@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PROFILE</h2>

<div ng-controller="ProfileJSController as vm" style="width:70% ;margin:auto">
    <fieldset>
        <legend>Create</legend>
        <div>
            <form novalidate name="newProfile" ng-submit="vm.addProfile()">
                <div class="form-group">
                    <div>
                        <label for="Name">Name:</label>
                    </div>
                    <div>
                        <input type="text" id="Name" class="form-control" ng-model="vm.newProfile.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="EnrolledDate">Enrollment Date:</label>
                    </div>
                    <div>
                        <input type="text" id=" EnrolledDate" class="form-control" ng-model="vm.newProfile.EnrolledDate" />
                    </div>
                </div>
                <div class="form-group">
                    <div><input type="submit" value="Submit" class="btn btn-primary pull-right" />  </div>
                </div>
            </form>
        </div>
    </fieldset>
    <fieldset>
        <legend>List</legend>
        <div>
            <table class="table table-responsive table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th>
                            Enolled Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in  vm.profiles">
                        <td>{{a.Name}}</td>
                        <td>
                            {{a.StrEnrolledDate}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
@section scripts{
    <script src="~/Scripts/UPASS%20JS/Controller%20JS/ProfileJSController.js"></script>
}