@model AmarCodeGenerator.TableModel
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;
using System.Linq;

namespace POSSystems.Core.Models
    {
        [Table("@(Model.OriginalTableName)")]
        public class @Model.DotNetModelName : EntityBase
            {
            @foreach(var property in Model.PropetyList)
                {
                if(@property.IsSkippable==false)
                {
           if (@property.IsPrimayKey)
                {

                <text>[Key]</text>
    }

if (!@property.IsNullable)
                {
                <text>[Required]</text>
                }
                if (@property.SYSType.ToLower() == "string")
                {
                <text>[StringLength(@property.DBLength, ErrorMessage = "Maximum characters limit to @property.DBLength ")]</text>

                }

if (@property.SYSType.ToLower().Contains("int") && !@property.IsNullable)
{

                <text>[Range(1,@("9".PadLeft(Convert.ToInt32(@property.DBLength), '9')) , ErrorMessage ="Value must be less tha or equal to @("9".PadLeft(Convert.ToInt32(@property.DBLength), '9'))"]</text>
}

if (@property.SYSType.ToLower().Contains("int") && @property.IsNullable)
{
                <text>[Range(0,@("9".PadLeft(Convert.ToInt32(@property.DBLength), '9')) , ErrorMessage ="Value must be less tha or equal to @("9".PadLeft(Convert.ToInt32(@property.DBLength), '9'))"]</text>
}


                <text>[Display(Name = "@property.DisplayName")]</text>
                <text>[Column("@property.DBName")]</text>
                <text>public @property.SYSType @property.SYSName {get; set;}
    </text>

    }
    }
    }
    }

