<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>-->
    <div id="MainDiv" style="font-family: verdana, sans-serif; font-size: 10pt; padding: 10px;
        width: 50%; text-align: center; margin: auto;">
        <div style=" border: 5px solid;border-color:red;">
            <div id="OrderDiv" style="color: black; background-color: white;">
                <div style="font-family: verdana, sans-serif; font-size: 15pt; background-color: red;
                    color: white; font-weight: bold;">
                    BTX Edgility Portal
                </div>
                <div style=" padding:0px 20px 20px 20px;">

                    <div style="text-align: left; padding-top:15px; padding-bottom:5px;">
                        Hi <b>[[FirstName]] [[LastName]]</b>,
                    </div>
                    <div style="text-align: left">
                        We got a request to reset your BTX Portal Passwword. Please click the following link and follow the stpes -
                    </div>
                    <div style="text-align: center; padding:15px;">
                        [[LINK_SET_PASS]]
                    </div>
                    <div style="text-align: left">
                        If you ignore this message , your password won't be changed.
                        <br />
                        If you didn't request a password reset, <a href="[[CONTACT_US]]">let us know</a>
                    </div>
                </div>
                <div style="font-family: verdana, sans-serif; font-size: 15pt; background-color: red;
                    color: white; font-weight: bold;">
                    BTX Edgility Portal
                </div>
            </div>
        </div>
    </div>
<!--</body>
</html>-->
