@model UPASS.BTX.Model.ConsignmentUsageOrderModel

<style type="text/css">
    #tbody tr:nth-child(even) {
        background-color: #e5e6c9;
    }
</style>

    <div id="MainDiv" style="font-family:verdana, sans-serif;font-size:10pt; padding :10px; width :98%; margin: auto;">
    <!--<div id="TitleDiv" style="background-color: #6666ff; border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 1px 1px !important;">
        <div style="font-weight: bold; font-size: 20px; color: white; text-align: center; padding: 1px 1px !important;">An order has been submitted!</div>
    </div>-->
    <!--End title div-->
        <div id="OrderDiv" style="font-family:verdana, sans-serif;font-size:10pt; color :black; background-color :white; padding: 20px">
            <div  style="font-family:verdana, sans-serif;font-size:10pt;border:hidden">
                <div  style="font-family:verdana, sans-serif;font-size:10pt;width:100%;background-color:red;color:white;font-weight: bold;">Order details:</div>
                <table style="width:100%;">
                    <tr>
                        <td style="width: 65%">
                            <table style="width:100%;">
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>Order No :</b></td>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;">@Model.BtxOrderNo</td>
                                </tr>
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>Temp. Order No :</b></td>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;">@Model.OrderNo</td>
                                </tr>
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>Submitted Date :</b></td>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;">@Model.OrderDate</td>
                                </tr>
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>Submitted by :</b></td>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;">@Model.CreateUser</td>
                                </tr>
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>PO Number :</b></td>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;">@Model.PurchaseOrderNo</td>
                                </tr>
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>PO Assign Date :</b></td>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;">@Model.PoAssignDate</td>
                                </tr>
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>PO Assigned by :</b></td>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;">@Model.PoAssignBy</td>
                                </tr>
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>Order Status :</b></td>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>Submitted (PO Assigned)</b></td>
                                </tr>
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>Location :</b></td>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;">@Model.LocationId- @Model.LocationName</td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 35%; border-left:solid;border-width:2px; padding-left:5px;top:5px;">
                            <table style="width:100%;">
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;"><b>Billing Address :</b></td>
                                </tr>
                                <tr>
                                    <td style="font-family:verdana, sans-serif;font-size:10pt;">@Model.ShippingAddress</td>
                                </tr>
                            </table>
                        </td>

                    </tr>


                </table>
            </div>
            <div id="OrderLineDiv" style="padding: 20px 0;">
                <div style="border:hidden">
                    <div style="font-family:verdana, sans-serif;font-size:10pt; width:100%;background-color:red;color:white; font-weight: bold;">
                        Line Items :
                    </div>
                    <table id="LineTable" style="width:100% ;">
                        <thead style="background-color: black; color: white;font-weight: bold;">
                            <tr>
                                <td style="font-family:verdana, sans-serif;font-size:10pt;">Item ID</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt;">Item Name</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt;">Note</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt; text-align: right;">Quantity</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt; text-align: right;">Unit price</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt; text-align :center;">UoM</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt; text-align: right;">Total Price</td>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @foreach (var item in Model.UsageOrderItemList)
                            {

                            <tr>
                                <td style="font-family:verdana, sans-serif;font-size:10pt;">@item.BtxItemId</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt;">@item.ItemName</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt;">@item.JobNote</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt; text-align :right;">@item.Quantity </td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt; text-align :right;">@string.Format("{0:C2}", @item.UnitPrice)</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt; text-align :center;">@item.ItemUnit</td>
                                <td style="font-family:verdana, sans-serif;font-size:10pt; text-align: right;">@string.Format("{0:C2}", @item.TotalPrice)</td>
                            </tr>
                            }


                            <tr style="background-color: black; color: white; height: 25px; font-weight: bold;">
                                <td colspan="5" style="font-family:verdana, sans-serif;font-size:10pt;text-align: right;">Total Price</td>
                                <td colspan="2" id="totalprice" style="font-family:verdana, sans-serif;font-size:10pt;text-align: right;">@string.Format("{0:C2}", @Model.GrandTotalPrice)</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!--End Line div-->
        </div>
</div>

