@model AmarCodeGenerator.TableModel

using MediatR;
using System;
using System.Collections.Generic;
using System.Text;

namespace EmployeeEnrollment.Application. @Model.OriginalTableName .Commands
{
    public static class Commands
    {
        public static class V1
        {
public class @Model.CreateCommandName : IRequest< @Model.CommandVMName>
    {
    @foreach(var property in Model.PropetyList)
                {
                if(@property.IsSkippable==false)
                {
<text>         public @property.SYSType @property.SYSName {get; set;}</text>
                }
                }
    }

    public class @Model.UpdateCommandName : IRequest< @Model.CommandVMName>
        {
        @foreach(var property in Model.PropetyList)
                {
                if(@property.IsSkippable==false)
                {
<text>         public @property.SYSType @property.SYSName {get; set;}</text>
                }
                }
        }

        public class @Model.DeleteCommandName : IRequest< @Model.CommandVMName>
            {
            public Guid Id { get; set; }
            }
            }
            }
            }