@model AmarCodeGenerator.TableModel

   using System.Collections.Generic;
using System.Threading.Tasks;
using Abp.Application.Services.Dto;
using Abp.AspNetCore.Mvc.Authorization;
using LunaHR.Application.Leave.Shared.LeaveTypes;
using LunaHR.Application.Leave.Shared.LeaveTypes.Dto;
using LunaHR.Authorization;
using LunaHR.Route;
using LunaHR.Web.Helpers;
using Microsoft.AspNetCore.Mvc;
using Swashbuckle.AspNetCore.Annotations;

namespace LunaHR.Web.Controllers.Leave
{
    [Route(AppRouteNames. @Model.ZeroRouteRootName)]
    [AbpMvcAuthorize]
          public class @Model.ZeroControllerName : LunaHRApiControllerBase < @Model.ZeroOutputDtoName, int, @Model.ZeroFilterInputDtoName,  @Model.ZeroCreateInputDtoName, @Model.ZeroUpdateInputDtoName, EntityDto < int > , EntityDto < int >>

           {
#region variables
           private readonly   @Model.ZeroServiceInterfaceName   _@Model.ZeroServiceVariableName;
#endregion

#region constructor
    public @Model.ZeroControllerName ( @Model.ZeroServiceInterfaceName  @Model.ZeroServiceVariableName ) : base( @Model.ZeroServiceVariableName )
    {
    _@Model.ZeroServiceVariableName = @Model.ZeroServiceVariableName;
    }
#endregion


// Your code here...
#region custom methods

#endregion
    }
    }