@model AmarCodeGenerator.TableModel

using Abp.Application.Services;
using MMH. @Model.ZeroFolderName .Dto;
using System;
using System.Collections.Generic;
using System.Text;
using System.Threading.Tasks;

namespace MMH. @Model.ZeroFolderName
{
          public interface @Model.ZeroServiceInterfaceName   : IAsyncCrudAppService <  @Model.ZeroOutputDtoName, int, @Model.ZeroFilterInputDtoName, @Model.ZeroCreateInputDtoName, @Model.ZeroUpdateInputDtoName, EntityDto < int > , EntityDto < int >>

    {

    }
    }

