@model AmarCodeGenerator.TableModel

using Abp.Application.Services.Dto;
using Abp.Domain.Repositories;
using Abp.Runtime.Caching;
//using MMH.Utility;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using MMH. @Model.ZeroFolderName;
using MMH. @Model.ZeroFolderName .Dto;
using Abp.Application.Services;

namespace MMH.Custom. @Model.ZeroFolderName
       {
          public class @Model.ZeroServiceName : AsyncCrudAppService < @Model.TableNameAsTitle, @Model.ZeroOutputDtoName, int, @Model.ZeroFilterInputDtoName, @Model.ZeroCreateInputDtoName, @Model.ZeroUpdateInputDtoName, EntityDto < int > , EntityDto < int >>, @Model.ZeroServiceInterfaceName
    {
#region variables
           private readonly   --IRepository< @Model.TableNameAsTitle >    _@Model.ZeroRepositoryVariableName;
#endregion

#region constructor
    public @Model.ZeroServiceName ( --IRepository< @Model.TableNameAsTitle >  @Model.ZeroRepositoryVariableName ) : base( @Model.ZeroRepositoryVariableName )
    {
    _@Model.ZeroRepositoryVariableName = @Model.ZeroRepositoryVariableName;
    }
#endregion


// Your code here...
#region custom methods

#endregion
    }
    }
