@model AmarCodeGenerator.TableModel

   using System.Collections.Generic;
using System.Threading.Tasks;
using Abp.Application.Services.Dto;
using Abp.AspNetCore.Mvc.Authorization;
using LunaHR.Application.Leave.Shared.LeaveTypes;
using LunaHR.Application.Leave.Shared.LeaveTypes.Dto;
using LunaHR.Authorization;
using LunaHR.Route;
using LunaHR.Web.Helpers;
using Microsoft.AspNetCore.Mvc;
using Swashbuckle.AspNetCore.Annotations;

namespace LunaHR.Web.Controllers.Leave
{
    [Route(AppRouteNames.Route_LeaveType)]
    [AbpMvcAuthorize]
          public class @Model.ZeroControllerName : [[REPLACED]]

           {

    }
    }
    }
